* {
    font-family: 'Fira Code', monospace !important;
    font-size: 14px;
}

.social-media-icon {
    border-radius: 50%;
    width: 40px;
    margin: 10px;
}

.form {
    border-radius: 25px;
    padding: 50px;
    overflow-wrap: break-word;
}

.skills-img {
    display: flex;
    margin: auto;
}

.esteban-photo {
    display: flex;
    width: 35%;
    border-radius: 50%;
    margin: auto;
    margin-top:60px;
    margin-bottom: 30px;
}

.card {
    border-color: grey;
    border-width: 2px;
    -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    width: 23rem;
    height: 480px;
    border-radius: 25px;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}


@media only screen and (max-width: 600px) {
    .head-form > h1 {
        font-size: 25px;
    }

    .form {
        overflow-wrap: break-word;
    }

    .esteban-photo {
        display: flex;
        width: 70%;
        border-radius: 50%;
        margin: auto;
        margin-top:60px;
        margin-bottom: 30px;
        
    }

    .form-group p {
        text-align: left;
    }

    .about-me {
        
    }

  }

  @media only screen and (max-width: 361px) {

        /* width: 0%; */






    /* .head-form > h1 {
        font-size: 25px;
    }

    .form {
        overflow-wrap: break-word;
    }

    .esteban-photo {
        display: flex;
        width: 70%;
        border-radius: 50%;
        margin: auto;
        margin-top:60px;
        margin-bottom: 30px;
        
    }

    .form-group p {
        text-align: left;s
    } */

  }

.employment {
    margin: 65px;
}