* {
    font-family: 'Fira Code', monospace !important;
}

.card {
    display: flex;
    text-align: center;
    margin: 40px 15px 15px  15px;
    border-width: 6px;
    border-radius: 25px;
    height: 90%;
    
}

.all-cards {
    display: flex;
    justify-content: center;
}
