* {
    font-family: 'Fira Code', monospace !important;
}

.card-projects {
    display: flex;
    text-align: center;
    margin: 40px 15px 15px  15px;
    border-width: 6px;
    border-radius: 25px;
    height: 90%;
}

.all-cards, .skills {
    display: flex;
    justify-content: center;
}

a {
    color: white;
    
}

a:hover {
    color: grey;
}

.social-media-icon {
    border-radius: 50%;
    width: 80px;
    margin: 10px;
}

.form {
    border-radius: 25px;
    padding: 50px;
    overflow-wrap: break-word;
}

.social-media {
    margin-top: 30px;
}




.navbar-icon {
    width: 25px;
    filter: brightness(0) invert(1);
}


.skills-img {
    display: flex;
    /* width: 80%; */
    margin: auto;
}

.card-about {
    display: flex;
    margin: 40px 15px 15px  15px;
    border: none;
}

.esteban-photo {
    display: flex;
    width: 35%;
    border-radius: 50%;
    margin: auto;
    margin-top:60px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 600px) {
    .head-form > h1 {
        font-size: 25px;
    }

    .form {
        overflow-wrap: break-word;
    }

    .esteban-photo {
        display: flex;
        width: 70%;
        border-radius: 50%;
        margin: auto;
        margin-top:60px;
        margin-bottom: 30px;
        
    }
  }