{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container">
    <h1 class="display-4 text-center">Who am i? </h1>
    <img class="esteban-photo" src="static\img\esteban.jpg" alt="">
    <p class="lead text-justify">
      I'm a Systems engineer with many wishes to learn and work as a team.
      I'm interested in software development, cybersecurity and data science.
      I have developed projects with several programming language, but mainly
      Python and Javascript. I am responsible, enthusiastic and positive,
      lover of self-learning.
    </p>
  </div>
</div>
<div class="container">
  <h1 class="display-6 ml-2">Employment</h1>
  <div class="row employment" >
    <div class="col-md-6 col-xs-12">
      <p>
        <strong>
          Python Developer (Flask, Django), BI Consultant.
        </strong>
        <br>
        Pronóstica.
        <br>
        September 2019 - Actually.
        <br>
        Medellín Colombia.
      </p>
    </div>
    <div class="col-md-6 col-xs-12">

      <p>
        <strong>
          Python Developer (Flask, Django).
        </strong>
        <br>
        Pitmmam.
        <br>
        January 2019 - August 2019.
        <br>
        Medellín Colombia.
      </p>

    </div>
  </div>
  <h1 class="display-6 ml-2">My main skills</h1>
  <div class="row skills mb-5">
    <div class="col m-5">
      <div class="skill-item">
        <p>Python</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>NodeJS</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>Flask</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>Django</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>Javascript</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>VueJS</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>GIT</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
      </div>
      <br>
    </div>
    <div class="col m-5">
      <div class="skill-item">
        <p>Docker</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>HTML5</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>CSS3</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        <br>
      </div>


      <div class="skill-item">
        <p>MySQL</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>GNU/Linux</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
        <br>
      </div>

      <div class="skill-item">
        <p>SQL</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <br>
      </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block footer %}

<footer class="pt-4" style="background-color: #d5dbd6;">
  <div class="container-fluid text-center text-md-left text-black">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-12 col-md-8">
        <form class="m-3" method="POST" action="/">
          <h1 class="text-center">Type your message!</h1>
          {{ form.csrf_token }}
          <div class="m-4">
            <ul>
              {% for field in form.errors %}
              {% for error in form.errors[field] %}
              <li>
                <strong class="text-danger">
                  Error! {{error}}
                </strong>
              </li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>

          <div class="form-group">
            <p>
              <strong style="color:red">*</strong>
              {{ form.name.label }} {{ form.name(size=25, class="form-control", placeholder="Your name...") }}
            </p>
          </div>
          <div class="form-group row">
            <div class="col-md-2"">
              <p>
              <strong style=" color:red">*</strong>
              {{ form.country_code.label }} {{ form.country_code(size=25, class="form-control", placeholder="+57") }}
              </p>
            </div>
            <div class="col"">
              <p>
              <strong style=" color:red">*</strong>
              {{ form.telephone_number.label }}
              {{ form.telephone_number(size=25, class="form-control", placeholder="Your phone number...") }}
              </p>
            </div>
          </div>
          <div class="form-group">
            <p>
              <strong style="color:red">*</strong>
              {{ form.email.label }} {{ form.email(size=25, class="form-control", placeholder="Your email...")}}
            </p>
          </div>
          <p>
            <div class="form-group">
              <p>
                <strong style="color:red">*</strong>
                {{ form.message.label }}
                {{ form.message(size=200, class="form-control", placeholder="Your message...")}}
            </div>
          </p>
          </p>

          <input class="btn-submit-form btn btn-success" type="submit" value="Enviar">

          <div class="text-center social-media m-5">
            <div class="row">
              <div class="col-xs-6 col-md-12">
                <a href="https://twitter.com/esmejia277" target="_blank" rel="noreferrer">
                  <img class="social-media-icon" src="https://ps.w.org/twitter/assets/icon-256x256.png?rev=1590182"
                    alt="Twitter logo">
                </a>

                <a href="https://github.com/esmejia277" target="_blank" rel="noreferrer">
                  <img class="social-media-icon" src="https://miro.medium.com/max/256/0*FEmyH4NwQWlbHPJ6" alt="Github logo">
                </a>

                <a href="https://www.linkedin.com/in/esmejia277/" target="_blank" rel="noreferrer">
                  <img class="social-media-icon"
                    src="https://web.iceportal.com/wp-content/uploads/2018/03/square-linkedin-512.png" alt="Linkedin logo">
                </a>
                <a href="mailto:estebanmejia277@gmail.com" target="_blank" rel="noreferrer">
                  <img class="social-media-icon"
                    src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/256/Gmail-icon.png" alt="Mail logo">
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>

{% endblock footer %}